class_i/hla.bed filter=lfs diff=lfs merge=lfs -text
class_i/HLA_FREQ.txt filter=lfs diff=lfs merge=lfs -text
class_i/abc_complete.fasta filter=lfs diff=lfs merge=lfs -text
class_i/abc_complete.fasta.fai filter=lfs diff=lfs merge=lfs -text
class_i/abc_complete.nix filter=lfs diff=lfs merge=lfs -text
class_i/abc_v14.uniq filter=lfs diff=lfs merge=lfs -text
